img.bg { min-height: 100%;
    min-width: 1024px; 
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
z-index:-1;}
h1{ background:rgb(218, 221, 188);
    color:#d4215d;
font-family:"Pixelify Sans";
text-align: center;}
h2{ background:  rgb(218, 221, 188);
color:#d4215d ;
font-family:"Pixelify Sans";
text-align: justify;
height:fit-content;
width:fit-content;}

a:link{ color:rgb(218, 221, 188)}
div{width: 30%;
display: flexbox;
float: left;
clear: both;}


a:visited{color: #e7d16e;}


.section{
     text-align:justify;
     margin-left: 2%;
     padding: 2px;
background: #d4215d;
color: rgb(218, 221, 188);
border-radius: 15 px;
border-style:double;
}
.thicksection{
    text-align:justify;
     padding: 2px;
background: #d4215d;
color: rgb(218, 221, 188);
border-radius: 30 px;
border-width: 20px;
border-style:double;}

.bigsection{
    text-align:justify;
    height:fit-content;
background: #d4215d;
color: rgb(218, 221, 188);
border-radius: 15 px;
border-style:double;}
 